.rodape {
  /* POSICIONAMEMTO */

  /* BOX DO ELEMENTO */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;

  /* OUTROS */
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 60px;
}

.logo {
  height: 50px;
}

.menu {
}

.menu .menu-link {
  margin-right: 25px;

  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
}
