/* .sobre {
  display: flex;
} */

.sobre .destrito {
  height: 250px;
  width: 700px;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eca527;
}

.sobre .titulo {
  /* margin-top: 15px; */
  /* margin-left: 70px; */
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 31px;
  text-align: center;
  letter-spacing: -1.5px;
}

.sobre .destrito .nosso-sobre {
  font-family: "Lato";
  font-weight: 500;
  text-align: justify;
}

.sobre .missao-valores {
  display: flex;
}

.sobre .missao-valores .missao {
  height: 150px;
  width: 400px;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a62520;
}

.sobre .missao-valores .missao .nossa-missao {
  font-family: "Lato";
  font-weight: 500;
  text-align: justify;
}

.sobre .missao-valores .valores {
  height: 150px;
  width: 400px;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a62520;
}

.sobre .missao-valores .valores .nossos-valores {
  font-family: "Lato";
  font-weight: 500;
  text-align: center;
}

.sobre .visao {
  height: 200px;
  width: 400px;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
  background-color: #82a2d3;
}

.sobre .visao .nossa-visao {
  font-family: "Lato";
  font-weight: 500;
  text-align: center;
  margin-bottom: 17px;
}
}
}

.sobre .desenvolvedores .leme {
  display: flex;
  height: 220px;
  width: 450px;
  background-color: rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  cursor: pointer;
}

.sobre .desenvolvedores .tainah {
  display: flex;
  height: 200px;
  width: 450px;
  background-color: rgb(235, 235, 235);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  cursor: pointer;
}

.sobre .desenvolvedores .perfil img {
  height: 120px;
  width: 120px;
  margin-top: 20px;
}

.sobre .desenvolvedores .bio .nome {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 31px;
  text-align: center;
  letter-spacing: -1.5px;
}

.sobre .desenvolvedores .bio .escrita {
  margin-left: 35px;
  margin-bottom: 10px;
  /* margin: 10px; */
  font-family: "Lato";
  font-weight: 500;
  text-align: none;
}
